@use 'breakpoints';

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  height: 100%;
  font-family: var(--font-inter);
  color: var(--light-neutral);
  background: var(--near-black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  // Colors
  --primary-accent: #059669;
  --primary: #1B263B;
  --secondary: #415A77;
  --light-neutral: #F2F4F5;
  --grey-accent: #828C95;
  --near-black: #1E1E1E;

  // Font sizes
  --font-size-small: 13px;
  --font-size-base: 16px;
  --font-size-medium: 20px;
  --font-size-large: 26px;
  --font-size-xlarge: 42px;
  --font-size-xxlarge: 68px;
  --font-size-xxxlarge: 110px;

  // Padding
  --page-padding: 0 70px;

  @media (max-width: breakpoints.$tablet) {
    --page-padding: 0 30px;
  }

  @media (max-width: breakpoints.$mobile) {
    --page-padding: 0 10px;
  }
}

//@media (max-width: $breakpoint-tablet) {
//  :root {
//    // Padding
//    --page-padding: 0 45px;
//  }
//}

p {
  //font-size: clamp(var(--font-size-base), 0.8vw + 2rem, var(--font-size-medium));
  //font-size: var(--font-size-base);
  font-size: clamp(var(--font-size-base), 0.7799rem + 0.7042vw, var(--font-size-medium));
}

h1 {
  font-size: clamp(var(--font-size-large), 1.1285rem + 4.7887vw, var(--font-size-xxxlarge));
}

h2 {
  font-size: clamp(var(--font-size-large), 0.7007rem + 2.9577vw, var(--font-size-xxlarge));
}

h3 {
  font-size: clamp(var(--font-size-medium), 0.7658rem + 1.5493vw, var(--font-size-xlarge));
}

h4 {
  font-size: clamp(var(--font-size-medium), 1.118rem + 0.4225vw, var(--font-size-large));
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
