.contact {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}