@use '../breakpoints';

.contact {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    padding: var(--page-padding);
    padding-top: 110px;
    padding-bottom: 70px;
    gap: 45px;

    @media (max-width: breakpoints.$tablet) {
        flex-direction: column;
        padding-top: 70px;
    }
}

.contactInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 45px;

    @media (max-width: breakpoints.$tablet) {
        width: 100%;
    }

    .email {
        display: flex;
        align-items: center;
        font-size: var(--font-size-text);
        gap: 0.5em;

        svg {
            //fill: var(--secondary);
            //width: 1em;
        }
    }

    p {
        color: var(--grey-accent);
    }
}

.contactForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--light-neutral);

    @media (max-width: breakpoints.$tablet) {
        width: 100%;
    }

    .formSection {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: inherit;
        font-family: inherit;

        input, textarea {
            border-radius: 12px;
            font-size: inherit;
            font-family: inherit;
            padding: 0.6em;
            resize: none;
            border: none;
            outline: 2px solid var(--light-neutral);
            background-color: var(--primary);
            color: var(--light-neutral);

            &:focus {
                outline: 4px solid var(--primary-accent);
                border: none;
            }
        }

        label {
            position: absolute;
            left: 0.6em;
            top: 0.6em;
            color: var(--grey-accent);
            background-color: var(--primary);
            transition: all 0.1s ease;
        }

        input:focus + label,
        input:not(:placeholder-shown) + label,
        textarea:focus + label,
        textarea:not(:placeholder-shown) + label {
            top: -0.7em;
            padding: 0 0.5em;
            left: 0.6em;
            color: var(--primary-accent);
        }
    }

    button {
        font-size: inherit;
        font-family: inherit;
        align-self: center;
        width: 40%;
        margin-top: 0.4em;
        padding: 12px 0;
        border: none;
        outline: 2px solid var(--light-neutral);
        border-radius: 12px;
        color: var(--light-neutral);
        background-color: var(--primary);

        &:hover {
            outline: 4px solid var(--primary-accent);
            color: var(--primary-accent);
        }

        &:disabled {
            outline: 2px solid var(--light-neutral);
            color: var(--primary-accent);
        }
    }
}
