@use '../breakpoints';

.flashlight {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  mix-blend-mode: difference;

  @media (max-width: breakpoints.$tablet) {
    display: none;
  }
}
