@use '../breakpoints';

.flashlight {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 90;
  pointer-events: none;
  mix-blend-mode: difference;

  --flashlight-color: var(--light-neutral);
}

:global(body:has(.clickable:hover)) .flashlight {
  //--flashlight-color: #d10541;
  --flashlight-color: #fdc764;
}
