.header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 20px;
    z-index: 10;
    padding: 0 70px;
}

.navbar {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 32px;
    padding: 0 70px;
    font-family: var(--font-chakra-petch);
    transition: background-color 0.5s ease, box-shadow 0.5s ease, backdrop-filter 0.5s ease;
}


.navLink {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        margin-bottom: -5px;
        background: var(--light_neutral);
        background: radial-gradient(circle, var(--light_neutral) 30%, transparent 100%);
        opacity: 0;
        transition: opacity 0.25s, transform 0.25s;
        transform: scale(0, 1);
    }

    &:hover:after {
        opacity: 1;
        transform: scale(1);
    }
}

.navbarBg {
    background-color: color-mix(in srgb, var(--near-black), transparent 25%);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px 0 color-mix(in srgb, var(--primary-accent), transparent 70%);
}

.leftNavbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

    span {
        color: var(--primary-accent)
    }
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
