@use '../breakpoints';

.landing {
    position: sticky;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, var(--primary-accent) 0%, var(--primary) 100%, var(--near-black) 100%);
    animation: growing-background 1s ease-in-out forwards;
    text-align: center;
    padding: 9vw;
    font-family: var(--font-chakra-petch);
    //cursor: none;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: breakpoints.$tablet) {
        padding: 5vw;
    }

    h1 {
        position: relative;
        user-select: none;
    }

    h1::after {
        content: '|';
        position: relative;
        color: var(--primary-accent);
    }
}

.animatedCaret {
    &::after {
        margin-left: 0.2em;
        animation: blink-caret 1.1s steps(1, end) infinite;
    }
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

@keyframes growing-background {
    0% {
        background-size: 0 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}
