@use '../breakpoints';

.landing {
    position: sticky;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, var(--primary-accent) 3%, var(--primary) 91%, var(--near-black) 100%);
    text-align: center;
    padding: 9vw;
    font-family: var(--font-chakra-petch);

    @media (max-width: breakpoints.$tablet) {
        padding: var(--page-padding);
    }

    h1 {
        position: relative;
        user-select: none;
    }

    h1::after {
        content: '|';
        position: relative;
        color: var(--primary-accent);
    }
}

.animatedCaret {
    &::after {
        margin-left: 0.2em;
        animation: blink-caret 1.1s steps(1, end) infinite;
    }
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}
